﻿@charset "utf-8";
div {
    left: 10%;
    right: 1%;
}
body {
    background-image: radial-gradient(circle,white 30%,#FAC5B0,#FAC188);
}
.divNot {
    background-color: #F1F5F0;
    border-radius: 20px;
    width:600px;
    box-shadow:5px 5px 15px black;
    margin:
}
.btn {
    border-bottom-color: #F1F5F0;
    background-image: radial-gradient(circle,white 70%,#ff6a00);
    border: 1px none;
    border-radius: 15px;
    color: black;
    background-color: white;
    font-family: 'Comic Sans MS';
    width: 150px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 1px;
}
.btntwitch {
    cursor:pointer;
}
.btncadastrar{
    cursor:pointer;
    box-shadow: 1px 1px 1px black;
    background-color:white;
    border-bottom-color:black;
    width:90px;
    height:25px;
    font-weight:bold;
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
}
.btnlogar {
    cursor: pointer;
    box-shadow: 1px 1px 1px black;
    background-color: white;
    border-bottom-color: black;
    width: 90px;
    height: 25px;
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.btnConfirmar {
    cursor: pointer; 
    background-color: white;
    border-bottom-color: black;
    width: 90px;
    font-weight:bold;
    height: 23px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.textbox{
    border-radius:3px;

}

.tablelogin{
     
}

